includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Using nullsafe method call on non-nullable type#'
        -
            messages:
                - '#Call to an undefined method#'
            paths:
                - src/Actions/TwoFactor/MarkTwoFactorDisabledAction.php
                - src/Concerns/Sudo/UsesSudoChallengeAction.php
                - src/Enums/Livewire/MfaChallengeMode.php
                - src/Enums/Livewire/SudoChallengeMode.php
                - src/Filament/Pages/MfaChallenge.php
                - src/Http/Middleware/RequiresSudoMode.php

        -
            messages:
                - '#Access to an undefined property#'
                - '#Call to an undefined method#'
            paths:
                - src/Filament/Actions/SudoChallengeAction.php

        -
            messages:
                - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$id#'
            paths:
                - src/Policies/*
